<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Spoonfuls of Chia</title>
    <link rel="stylesheet" href="{{ '/styles.css' | url }}" />
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">Spoonfuls of Chia</a>
      <nav>
        <a href="{{ '/' | url }}">Home</a>
      </nav>
    </header>
    <main>{{ content }}</main>

    <footer>
      <p>Written by Avocado. Powered by plain HTML</p>
    </footer>
  </body>
</html>
